openapi: 3.0.3
info:
  title: Male Niti Content API
  description: >
    Backs the dynamic content on maleniti.com — services, pricing plans,
    blog posts, portfolio/work items, and contact form submissions.
    Public GET endpoints are cached client-side with a static fallback
    baked into the frontend (hi-fi/content.jsx) if unreachable.
    Text fields are bilingual: every user-facing string has a `_hr` and
    `_en` sibling (Croatian / English) rather than nested locale objects,
    to match the frontend's existing data shape.
    Content-management endpoints (anything that isn't a plain public `GET`,
    `POST /contact`, or `POST /api-keys/bootstrap`) require a super admin
    Bearer API key issued via `scripts/create-api-key.js` or
    `POST /api-keys/bootstrap`; unauthenticated or non-admin calls get `401`
    or `403`.
  version: "1.0.0"
servers:
  - url: https://maleniti.com/api
    description: Production (self-hosted, same origin)

security:
  - {}

paths:
  /services:
    get:
      summary: List the three service offerings
      operationId: listServices
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Service' }
    post:
      summary: Create a service offering
      operationId: createService
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Service' }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Service' }
        "400": { description: Missing required field(s) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }

  /services/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    put:
      summary: Replace a service offering
      operationId: replaceService
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Service' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Service' }
        "400": { description: Missing required field(s) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
    patch:
      summary: Partially update a service offering
      operationId: updateService
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Service' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Service' }
        "400": { description: No updatable fields provided }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
    delete:
      summary: Delete a service offering
      operationId: deleteService
      security: [{ bearerAuth: [] }]
      responses:
        "204": { description: Deleted }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }

  /pricing:
    get:
      summary: List engagement/pricing plans
      operationId: listPricing
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PricingPlan' }
    post:
      summary: Create a pricing plan
      operationId: createPricingPlan
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PricingPlan' }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PricingPlan' }
        "400": { description: Missing required field(s) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }

  /pricing/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    put:
      summary: Replace a pricing plan
      operationId: replacePricingPlan
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PricingPlan' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PricingPlan' }
        "400": { description: Missing required field(s) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
    patch:
      summary: Partially update a pricing plan
      operationId: updatePricingPlan
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PricingPlan' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PricingPlan' }
        "400": { description: No updatable fields provided }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
    delete:
      summary: Delete a pricing plan
      operationId: deletePricingPlan
      security: [{ bearerAuth: [] }]
      responses:
        "204": { description: Deleted }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }

  /work:
    get:
      summary: List portfolio/work items (one may be featured)
      operationId: listWork
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/WorkItem' }
    post:
      summary: Create a work item
      operationId: createWorkItem
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkItem' }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkItem' }
        "400": { description: Missing required field(s) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "409": { description: 'Duplicate slug' }

  /work/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    put:
      summary: Replace a work item
      operationId: replaceWorkItem
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkItem' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkItem' }
        "400": { description: Missing required field(s) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
        "409": { description: 'Duplicate slug' }
    patch:
      summary: Partially update a work item
      operationId: updateWorkItem
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkItem' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkItem' }
        "400": { description: No updatable fields provided }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
        "409": { description: 'Duplicate slug' }
    delete:
      summary: Delete a work item
      operationId: deleteWorkItem
      security: [{ bearerAuth: [] }]
      responses:
        "204": { description: Deleted }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }

  /blog:
    get:
      summary: List blog post summaries, newest first
      operationId: listBlogPosts
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/BlogPostSummary' }
    post:
      summary: Create a blog post
      operationId: createBlogPost
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BlogPost' }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BlogPost' }
        "400": { description: Missing required field(s) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "409": { description: 'Duplicate slug' }

  /blog/{slug}:
    parameters:
      - name: slug
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Full blog post body, for a future dedicated post page
      operationId: getBlogPost
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BlogPost' }
        "404": { description: Not found }
    put:
      summary: Replace a blog post
      operationId: replaceBlogPost
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BlogPost' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BlogPost' }
        "400": { description: Missing required field(s) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
        "409": { description: 'Duplicate slug (if renaming via body.slug)' }
    patch:
      summary: Partially update a blog post
      operationId: updateBlogPost
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BlogPost' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BlogPost' }
        "400": { description: No updatable fields provided }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
        "409": { description: 'Duplicate slug (if renaming via body.slug)' }
    delete:
      summary: Delete a blog post
      operationId: deleteBlogPost
      security: [{ bearerAuth: [] }]
      responses:
        "204": { description: Deleted }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }

  /imprint:
    get:
      summary: Business/registration details for the imprint page
      description: >
        Single object, not a list — there is exactly one imprint. Keeps the
        legally-required registration details (OIB, court/trade register,
        bank details, etc.) out of the frontend bundle so they can be
        corrected without a redeploy.
      operationId: getImprint
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ImprintInfo' }
        "404": { description: Imprint not set yet }
    post:
      summary: Create the imprint (first-time setup)
      operationId: createImprint
      description: >
        Only ever succeeds once, since there is exactly one imprint — 409s
        if it already exists. Use PATCH to correct it afterwards.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ImprintInfo' }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ImprintInfo' }
        "400": { description: Missing required field(s) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "409": { description: Imprint already exists - use PATCH to update it }
    patch:
      summary: Update the imprint
      operationId: updateImprint
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ImprintInfo' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ImprintInfo' }
        "400": { description: No updatable fields provided }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Imprint not set yet - use POST to create it }

  /feed.xml:
    # Overrides the global /api server: every page links this as a plain
    # root-relative "feed.xml" (RSS convention — readers expect it beside
    # the site, not nested under an API path), so it must be routed at the
    # domain root rather than under /api like every other path here.
    servers:
      - url: https://maleniti.com
        description: Site root (not under /api — see the routing note above)
    get:
      summary: RSS 2.0 feed of the blog
      description: >
        Served by the backend (not the static frontend) so the feed stays in
        step with /blog. Linked from the footer and declared for autodiscovery
        in every page head. Built from the same records /blog returns:
        <title> from title_hr/en, <description> from lede_hr/en or
        excerpt_hr/en, <link> as https://maleniti.com/blog-post.html?slug={slug},
        <guid isPermaLink="false"> as the slug, <pubDate> in RFC-822.
        Serve an English feed via ?lang=en.
      operationId: getFeed
      parameters:
        - name: lang
          in: query
          schema: { type: string, enum: [hr, en], default: hr }
      responses:
        "200":
          description: OK
          content:
            application/rss+xml:
              schema: { type: string }

  /maleniti/v1/price-lists/{brand}:
    get:
      summary: A brand's price list at a point of sale, as CSV
      description: >
        The machine-readable price list Croatian law requires a
        consumer-facing website to publish (Odluka o objavi cjenika, NN
        101/2026), as it stood at `at`: the price list that point of sale
        used then (its latest assignment up to `at`), one row per product of
        the brand with a price in it by then — its name, its latest price up
        to `at`, whether that price applies during a special form of sale,
        and its anchor price (the latest anchored price up to `at` among the
        lists that point of sale has used; Odluka o isticanju dodatne
        cijene). RFC 4180 CSV:
        comma-separated, decimal points (`2.00`), a header row, UTF-8 with a
        BOM, CRLF lines. Rebuilt from the price
        history (the `maleniti` schema) on every request, so any earlier
        version is the same request with an earlier `at` — see
        /versions. The `Content-Disposition` file name carries what the
        decision asks for: point-of-sale type, address and label, a storage
        number (the price list's id) and the
        Zagreb-local date and time the version took effect, e.g.
        `Internetska prodaja_Slakovec 80_WEB1_1_2026-09-10T00-00.csv`.
        Public; CORS open to any origin.
      operationId: getPriceList
      parameters:
        - $ref: '#/components/parameters/PriceListBrand'
        - $ref: '#/components/parameters/PriceListPointOfSale'
        - name: at
          in: query
          description: The moment the list is wanted for (ISO 8601). Default now.
          schema: { type: string, format: date-time }
        - $ref: '#/components/parameters/PriceListLanguage'
      responses:
        "200":
          description: OK
          content:
            text/csv:
              schema: { type: string }
        "400": { description: "`VALIDATION_ERROR` — a malformed `at`, an unknown `lang`, or no point of sale given or configured" }
        "404": { description: "`NOT_FOUND` — no such brand or point of sale" }

  /maleniti/v1/price-lists/{brand}/current:
    get:
      summary: A brand's products and prices right now, as JSON
      description: >
        For the brand's website — every price A-To-Do's client shows comes
        from here, the same prices the CSV lists and checkout charges: each
        product with a price at the point of sale now, its anchor price, and
        how the landing page shows it (`featured_ord`: its place, null = not
        shown; `highlight`). Public; CORS open to any origin.
      operationId: getCurrentPrices
      parameters:
        - $ref: '#/components/parameters/PriceListBrand'
        - $ref: '#/components/parameters/PriceListPointOfSale'
        - $ref: '#/components/parameters/PriceListLanguage'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CurrentPrices' }
        "400": { description: "`VALIDATION_ERROR` — an unknown `lang`, or no point of sale given or configured" }
        "404": { description: "`NOT_FOUND` — no such brand or point of sale" }

  /maleniti/v1/price-lists/{brand}/versions:
    get:
      summary: The price list versions still to be offered
      description: >
        Every moment the point of sale's price list changed — it switched to
        another list, or a price of the brand changed in the list it uses —
        starts a version, valid until the next one. A version is offered
        until 30 days after it was replaced (each replaced version must stay
        available that long), the current one always; moments still in the
        future aren't versions yet. Grouped by price list, oldest first.
        GET /maleniti/v1/price-lists/{brand}?at=<moment> downloads one.
        Public; CORS open to any origin.
      operationId: getPriceListVersions
      parameters:
        - $ref: '#/components/parameters/PriceListBrand'
        - $ref: '#/components/parameters/PriceListPointOfSale'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PriceListVersions' }
        "400": { description: "`VALIDATION_ERROR` — no point of sale given or configured" }
        "404": { description: "`NOT_FOUND` — no such brand or point of sale" }

  /maleniti/v1/admin/languages:
    get:
      summary: List languages
      operationId: listMalenitiLanguages
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/MalenitiLanguage' } }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Create one of the languages
      description: >
        The code (`language_id`, two letters) is given here and can't be changed afterwards. With `copy_from`, the
        new language starts with a copy of that language's every text (A-To-Do's interface texts and the business
        data's alike), to be translated in place; without, every text falls back to English until translated. A
        new language is offered to A-To-Do's users at once (`GET /atodo/v1/languages`).
      operationId: createMalenitiLanguage
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/MalenitiLanguage'
                - type: object
                  properties:
                    copy_from: { type: string, nullable: true, example: en, description: The language whose texts to copy. }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MalenitiLanguage' }
        "400": { description: A missing or invalid field (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "409": { description: A duplicate, or a reference to something that does not exist }
  /maleniti/v1/admin/languages/{language_id}:
    parameters:
      - name: language_id
        in: path
        required: true
        schema: { type: string }
    put:
      summary: Replace one of the languages
      operationId: replaceMalenitiLanguage
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MalenitiLanguage' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MalenitiLanguage' }
        "400": { description: A missing or invalid field (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
        "409": { description: A duplicate, or a reference to something that does not exist }
    delete:
      summary: Delete one of the languages
      description: >
        Takes every text in it along; A-To-Do accounts that used it go back to choosing a language. English (the
        fallback for any missing text) and Croatian (the price lists' language) can't be deleted.
      operationId: deleteMalenitiLanguage
      security: [{ bearerAuth: [] }]
      responses:
        "204": { description: Deleted (with its translated texts) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
        "409": { description: English or Croatian (plain-text message) }

  /maleniti/v1/admin/translations:
    get:
      summary: List a brand client's interface texts
      description: >
        Every named translation key of the brand (migration 010: A-To-Do's interface texts, which its client fetches
        from `GET /atodo/v1/translations`) with its text in each language, and the languages -- the admin app's
        Translations tab. A language a text is missing from shows English in the client.
      operationId: listMalenitiTranslations
      security: [{ bearerAuth: [] }]
      parameters:
        - name: brand
          in: query
          schema: { type: string, default: atodo }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  languages: { type: array, items: { $ref: '#/components/schemas/MalenitiLanguage' } }
                  keys:
                    type: array
                    items:
                      type: object
                      properties:
                        trid: { type: integer }
                        bundle: { type: string, example: app, description: "Which part of the client loads it: common, app, or a page (landing, faq, ...)" }
                        name: { type: string, example: todo.addTask }
                        texts: { type: object, additionalProperties: { type: string }, example: { en: + Add task, hr: + Dodaj zadatak } }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: No such brand }
  /maleniti/v1/admin/translations/import:
    post:
      summary: Import one language's interface texts
      description: >
        The admin app's "Import translations", reading a file its "Export translations" made. Every text in `texts` is
        set; the brand's texts the file doesn't have are left as they are; keys the brand has no text for are skipped
        and listed in `unknown` (texts are added with the client code that uses them). A language that doesn't exist
        yet is created (`language.name` required then), with no other texts. One transaction; up to 2 MB.
      operationId: importMalenitiTranslations
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [language, texts]
              properties:
                brand: { type: string, default: atodo }
                language:
                  type: object
                  required: [language_id]
                  properties:
                    language_id: { type: string, example: hr }
                    name: { type: string, example: hrvatski }
                texts: { type: object, additionalProperties: { type: string }, example: { todo.addTask: + Dodaj zadatak } }
      responses:
        "200":
          description: Imported
          content:
            application/json:
              schema:
                type: object
                properties:
                  language_id: { type: string }
                  created_language: { type: boolean }
                  updated: { type: integer, description: Texts set (changed or new) }
                  unchanged: { type: integer }
                  unknown: { type: array, items: { type: string }, description: Keys skipped }
        "400": { description: An invalid field (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: No such brand }
  /maleniti/v1/admin/legal/{kind}:
    parameters:
      - name: kind
        in: path
        required: true
        schema: { type: string, enum: [privacy, terms] }
      - name: brand
        in: query
        schema: { type: string, default: atodo }
    get:
      summary: A legal document, for editing
      description: >
        The Privacy Policy or Terms of Service (migration 011) as the admin app's Legal tab edits it: the live version
        in every language, each language's working copy (saved, not published), every published version with which
        languages it changed and how its notice emails went, and how many open accounts publishing would email.
      operationId: getMalenitiLegalDocument
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  kind: { type: string }
                  languages: { type: array, items: { $ref: '#/components/schemas/MalenitiLanguage' } }
                  published:
                    type: object
                    nullable: true
                    properties:
                      publication_id: { type: integer }
                      published_at: { type: string, format: date-time }
                      published_by: { type: string, nullable: true }
                      texts: { type: object, additionalProperties: { $ref: '#/components/schemas/MalenitiLegalText' } }
                  drafts:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        title: { type: string }
                        body: { type: string }
                        summary: { type: string }
                        updated_at: { type: string, format: date-time }
                  publications:
                    type: array
                    items:
                      type: object
                      properties:
                        publication_id: { type: integer }
                        published_at: { type: string, format: date-time }
                        published_by: { type: string, nullable: true }
                        substantial: { type: boolean, description: A change (emailed) rather than a correction }
                        changed_languages: { type: array, items: { type: string } }
                        recipients: { type: integer }
                        sent: { type: integer }
                        failed: { type: integer, description: Given up on after 5 attempts }
                  activeAccounts: { type: integer }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: No such document }
  /maleniti/v1/admin/legal/{kind}/drafts/{language_id}:
    parameters:
      - name: kind
        in: path
        required: true
        schema: { type: string, enum: [privacy, terms] }
      - name: language_id
        in: path
        required: true
        schema: { type: string }
      - name: brand
        in: query
        schema: { type: string, default: atodo }
    put:
      summary: Save a language's working copy
      description: Nothing is published -- the live version stays until the document is published.
      operationId: saveMalenitiLegalDraft
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, body]
              properties:
                title: { type: string }
                body: { type: string, description: HTML }
                summary: { type: string, description: "What's changed, in this language -- included in the notice email" }
      responses:
        "200": { description: Saved }
        "400": { description: A missing or invalid field (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: No such document }
        "409": { description: No such language }
    delete:
      summary: Discard a language's working copy
      operationId: discardMalenitiLegalDraft
      security: [{ bearerAuth: [] }]
      responses:
        "204": { description: Discarded }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: No such document }
  /maleniti/v1/admin/legal/{kind}/publish:
    parameters:
      - name: kind
        in: path
        required: true
        schema: { type: string, enum: [privacy, terms] }
      - name: brand
        in: query
        schema: { type: string, default: atodo }
    post:
      summary: Publish the working copies
      description: >
        A new version, live at once: every language's working copy, the live text where there's none; the working
        copies go. Either a change (`substantial: true`) -- to the document itself, so it has to be made in every
        language (409 otherwise, naming the ones not changed yet: no one can tell which language's version a user
        agreed to); its time becomes the pages' "Last updated", and every open A-To-Do account is emailed about it in
        its own language, in the background (lib/atodo/legalNotices.js): the change, that language's summary (else
        English's), its right to a refund of any charges made in the 14 days before and after it if it disagrees, and
        that continued use means agreeing -- or a correction (`substantial: false`: a typo, a mistranslation, any
        languages), with no emails and "Last updated" kept. Refused when no working copy changes anything.
      operationId: publishMalenitiLegalDocument
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [substantial]
              properties:
                substantial: { type: boolean, description: "true: a change (every language, everyone emailed); false: a correction (no emails)" }
      responses:
        "201":
          description: Published
          content:
            application/json:
              schema:
                type: object
                properties:
                  publication_id: { type: integer }
                  published_at: { type: string, format: date-time }
                  substantial: { type: boolean }
                  changed_languages: { type: array, items: { type: string } }
                  recipients: { type: integer, description: Notice emails queued (0 for a correction) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "400": { description: "`substantial` missing" }
        "404": { description: No such document }
        "409": { description: Nothing to publish, or a change not made in every language }
  /maleniti/v1/admin/translations/{trid}/{language_id}:
    parameters:
      - name: trid
        in: path
        required: true
        schema: { type: integer }
      - name: language_id
        in: path
        required: true
        schema: { type: string }
    put:
      summary: Set an interface text in a language
      description: Creates or replaces it. Only a named key (an interface text); the business data's texts are edited with their rows.
      operationId: setMalenitiTranslation
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  trid: { type: integer }
                  language_id: { type: string }
                  text: { type: string }
        "400": { description: An invalid field (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: No such interface text }
        "409": { description: No such language }
    delete:
      summary: Remove an interface text from a language
      description: The client then shows the English text. English's own texts can't be removed (only changed).
      operationId: deleteMalenitiTranslation
      security: [{ bearerAuth: [] }]
      responses:
        "204": { description: Removed }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: No such interface text }
        "409": { description: An English text }

  /maleniti/v1/admin/points-of-sale:
    get:
      summary: List points of sale
      operationId: listMalenitiPointOfSales
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/MalenitiPointOfSale' } }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Create one of the points of sale
      description: >
        `type` is a translated text; Croatian (`hr`) required.
      operationId: createMalenitiPointOfSale
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MalenitiPointOfSale' }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MalenitiPointOfSale' }
        "400": { description: A missing or invalid field (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "409": { description: A duplicate, or a reference to something that does not exist }
  /maleniti/v1/admin/points-of-sale/{point_of_sale_id}:
    parameters:
      - name: point_of_sale_id
        in: path
        required: true
        schema: { type: integer }
    put:
      summary: Replace one of the points of sale
      operationId: replaceMalenitiPointOfSale
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MalenitiPointOfSale' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MalenitiPointOfSale' }
        "400": { description: A missing or invalid field (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
        "409": { description: A duplicate, or a reference to something that does not exist }
    delete:
      summary: Delete one of the points of sale
      operationId: deleteMalenitiPointOfSale
      security: [{ bearerAuth: [] }]
      responses:
        "204": { description: Deleted (with its translated texts) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
        "409": { description: Still in use by another row (plain-text message naming it) }

  /maleniti/v1/admin/devices:
    get:
      summary: List fiscal devices
      operationId: listMalenitiDevices
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/MalenitiDevice' } }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Create one of the fiscal devices
      description: >
        A device number, unique per point of sale.
      operationId: createMalenitiDevice
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MalenitiDevice' }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MalenitiDevice' }
        "400": { description: A missing or invalid field (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "409": { description: A duplicate, or a reference to something that does not exist }
  /maleniti/v1/admin/devices/{device_id}:
    parameters:
      - name: device_id
        in: path
        required: true
        schema: { type: integer }
    put:
      summary: Replace one of the fiscal devices
      operationId: replaceMalenitiDevice
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MalenitiDevice' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MalenitiDevice' }
        "400": { description: A missing or invalid field (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
        "409": { description: A duplicate, or a reference to something that does not exist }
    delete:
      summary: Delete one of the fiscal devices
      operationId: deleteMalenitiDevice
      security: [{ bearerAuth: [] }]
      responses:
        "204": { description: Deleted (with its translated texts) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
        "409": { description: Still in use by another row (plain-text message naming it) }

  /maleniti/v1/admin/brands:
    get:
      summary: List brands
      operationId: listMalenitiBrands
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/MalenitiBrand' } }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Create one of the brands
      description: >
        `code` names the brand in the public price list URL; `name` is a translated text.
      operationId: createMalenitiBrand
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MalenitiBrand' }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MalenitiBrand' }
        "400": { description: A missing or invalid field (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "409": { description: A duplicate, or a reference to something that does not exist }
  /maleniti/v1/admin/brands/{brand_id}:
    parameters:
      - name: brand_id
        in: path
        required: true
        schema: { type: integer }
    put:
      summary: Replace one of the brands
      operationId: replaceMalenitiBrand
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MalenitiBrand' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MalenitiBrand' }
        "400": { description: A missing or invalid field (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
        "409": { description: A duplicate, or a reference to something that does not exist }
    delete:
      summary: Delete one of the brands
      operationId: deleteMalenitiBrand
      security: [{ bearerAuth: [] }]
      responses:
        "204": { description: Deleted (with its translated texts) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
        "409": { description: Still in use by another row (plain-text message naming it) }

  /maleniti/v1/admin/products:
    get:
      summary: List products
      operationId: listMalenitiProducts
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/MalenitiProduct' } }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Create one of the products
      description: >
        `name` is a translated text — as the published price list shows it.
      operationId: createMalenitiProduct
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MalenitiProduct' }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MalenitiProduct' }
        "400": { description: A missing or invalid field (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "409": { description: A duplicate, or a reference to something that does not exist }
  /maleniti/v1/admin/products/{product_id}:
    parameters:
      - name: product_id
        in: path
        required: true
        schema: { type: integer }
    put:
      summary: Replace one of the products
      operationId: replaceMalenitiProduct
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MalenitiProduct' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MalenitiProduct' }
        "400": { description: A missing or invalid field (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
        "409": { description: A duplicate, or a reference to something that does not exist }
    delete:
      summary: Delete one of the products
      operationId: deleteMalenitiProduct
      security: [{ bearerAuth: [] }]
      responses:
        "204": { description: Deleted (with its translated texts) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
        "409": { description: Still in use by another row (plain-text message naming it) }

  /maleniti/v1/admin/price-lists:
    get:
      summary: Every price list with its versions and where it's used
      description: >
        A price list's products are the ones it has prices for; it keeps
        every price it ever held, a change being a new price at the moment it
        takes effect. Each such moment is a version: the whole list as it
        stands then (`changed` marks the prices taking effect at it), newest
        first. `editable` — still before its publication deadline: a change
        has to be published by 08:00 Europe/Zagreb on the day it takes
        effect, and can be edited until then. `earliest_valid_from` is the
        earliest moment a new change can take effect now.
      operationId: listMalenitiPriceLists
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MalenitiPriceLists' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Create a price list
      description: >
        Its first prices take effect at `valid_from`, which must be in the
        future and before its publication deadline; the list is used from
        then on at `point_of_sale_ids`, if given (or assigned later, see
        /pos-price-lists).
      operationId: createMalenitiPriceList
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/MalenitiVersionInput'
                - type: object
                  properties:
                    point_of_sale_ids: { type: array, items: { type: integer } }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { type: object, properties: { price_list_id: { type: integer } } }
        "400": { description: A missing or invalid field, or a moment past its deadline (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
  /maleniti/v1/admin/price-lists/{price_list_id}/versions:
    parameters:
      - name: price_list_id
        in: path
        required: true
        schema: { type: integer }
    post:
      summary: Add a version ("copy")
      description: >
        New prices for the list's products from `valid_from` on (after its
        latest version; in the future and before its publication deadline).
        `prices` must name exactly the list's products — adding or removing
        products means a new list. Only prices that change something become
        new rows: a different amount or special-sale flag, or `anchored` (a
        new anchor price; leaving it false keeps the current anchor).
      operationId: addMalenitiPriceListVersion
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MalenitiVersionInput' }
      responses:
        "204": { description: Added }
        "400": { description: Invalid, nothing changed, or a moment past its deadline (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
  /maleniti/v1/admin/price-lists/{price_list_id}/versions/{at}:
    parameters:
      - name: price_list_id
        in: path
        required: true
        schema: { type: integer }
      - name: at
        in: path
        required: true
        description: The version's current valid_from.
        schema: { type: string, format: date-time }
    put:
      summary: Edit a version
      description: >
        Until its publication deadline (409 after): its moment (kept, or
        moved to another still-publishable one between the versions around
        it) and prices, with the same rules as adding one. Prices keep their
        price_id; ones that no longer change anything are dropped. A list's
        only version may also change its products.
      operationId: editMalenitiPriceListVersion
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MalenitiVersionInput' }
      responses:
        "204": { description: Saved }
        "400": { description: Invalid, nothing changed, or a moment past its deadline (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: No such list or version }
        "409": { description: Past its publication deadline }
    delete:
      summary: Withdraw a version
      description: >
        Until its publication deadline. A list's only version takes the list
        with it, and its assignments to points of sale (which must still be
        before their deadlines too); a first version with later ones can't
        be withdrawn.
      operationId: withdrawMalenitiPriceListVersion
      security: [{ bearerAuth: [] }]
      responses:
        "204": { description: Withdrawn }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: No such list or version }
        "409": { description: Past its publication deadline, or a first version with later ones }
  /maleniti/v1/admin/pos-price-lists:
    get:
      summary: Which point of sale uses which price list from when
      description: A point of sale uses its latest assigned list up to any moment. `editable` as for versions.
      operationId: listMalenitiPosPriceLists
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/MalenitiPosPriceList' } }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Assign a price list to a point of sale from some moment
      description: "`valid_from` in the future and before its publication deadline; one assignment per point of sale and moment."
      operationId: createMalenitiPosPriceList
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MalenitiPosPriceList' }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MalenitiPosPriceList' }
        "400": { description: Invalid, or a moment past its deadline (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "409": { description: The point of sale already switches lists at that moment }
  /maleniti/v1/admin/pos-price-lists/{pos_price_list_id}:
    parameters:
      - name: pos_price_list_id
        in: path
        required: true
        schema: { type: integer }
    put:
      summary: Edit an assignment
      description: Until its publication deadline; same rules as creating one (its own moment may stay).
      operationId: replaceMalenitiPosPriceList
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MalenitiPosPriceList' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MalenitiPosPriceList' }
        "400": { description: Invalid, or a moment past its deadline (plain-text message) }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
        "409": { description: Past its publication deadline }
    delete:
      summary: Withdraw an assignment
      description: Until its publication deadline.
      operationId: deleteMalenitiPosPriceList
      security: [{ bearerAuth: [] }]
      responses:
        "204": { description: Withdrawn }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }
        "409": { description: Past its publication deadline }

  /contact:
    post:
      summary: Submit the contact form
      operationId: submitContact
      description: Rate limited more tightly than other public endpoints to deter spam.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ContactSubmission' }
      responses:
        "201":
          description: Received
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  received_at: { type: string, format: date-time }
        "400": { description: Validation error }
    get:
      summary: List contact form submissions, newest first
      operationId: listContactSubmissions
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ContactRecord' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }

  /contact/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    patch:
      summary: Mark a contact submission as completed (or not)
      operationId: updateContactSubmission
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [completed]
              properties:
                completed: { type: boolean }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContactRecord' }
        "400": { description: 'completed (boolean) is required' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { description: Not found }

  /v1/quotable:
    post:
      summary: Render a quote as a 1920x1080 PNG image
      operationId: renderQuote
      description: >
        Public endpoint — no auth required to render an image. If called
        with a valid Bearer API key (super admin or not), the rendered image
        is additionally saved to disk on the server; unauthenticated calls
        only get the image back in the response, nothing is persisted.
        Rate limited more tightly than other public endpoints due to
        rendering cost.
      security:
        - bearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quote, author]
              properties:
                quote: { type: string, description: 'Multi-line quote text (\n-separated)' }
                author: { type: string, description: 'Multi-line author text (\n-separated)' }
      responses:
        "200":
          description: OK
          content:
            image/png:
              schema: { type: string, format: binary }

  /api-keys/me:
    get:
      summary: Identify the calling API key
      operationId: whoAmI
      description: >
        Returns which key is authenticating the request and whether it's a
        super admin key. Useful for validating a key (e.g. at login) and for
        a client to discover its own id ahead of POST /api-keys/{id}/rotate.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer }
                  label: { type: string }
                  is_super_admin: { type: boolean }
        "401": { $ref: '#/components/responses/Unauthorized' }

  /api-keys/{id}/rotate:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    post:
      summary: Rotate an API key's secret
      operationId: rotateApiKey
      description: >
        Issues a new secret for an existing key, replacing the old one - the
        id, label, and super-admin flag are unchanged, but the old secret
        stops working immediately. Any authenticated caller can rotate their
        own key (id must match the caller's own); a super admin can rotate
        any key. The new plaintext secret is returned once here, same as
        `scripts/create-api-key.js` - it cannot be retrieved again afterwards.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKeyRotated' }
        "400": { description: Invalid id }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { description: 'Authenticated, but neither the key''s own owner nor a super admin' }
        "404": { description: Not found }
        "409": { description: API key has been revoked }

  /api-keys/bootstrap:
    post:
      summary: Provision the first admin API key
      operationId: bootstrapAdminApiKey
      description: >
        Public, unauthenticated endpoint for provisioning the very first
        super admin API key on a fresh deployment, since every other
        key-issuing path requires either an existing key or shell access to
        the container. Only ever succeeds once — 404s if an admin key
        already exists. The plaintext key is returned once here and is not
        recoverable afterwards; only its hash is stored.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                label: { type: string, default: admin }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer }
                  label: { type: string }
                  is_super_admin: { type: boolean }
                  created_at: { type: string, format: date-time }
                  key:
                    type: string
                    description: The new plaintext secret. Shown once, here, and never again.
        "404": { description: An admin API key already exists }

components:
  parameters:
    PriceListBrand:
      name: brand
      in: path
      required: true
      description: The brand's code, e.g. `atodo`.
      schema: { type: string }
    PriceListPointOfSale:
      name: pointOfSale
      in: query
      description: >
        The point of sale's label (oznaka poslovnog prostora), e.g. `WEB1`.
        Default the `FISCAL_PREMISES` this API is configured with.
      schema: { type: string }
    PriceListLanguage:
      name: lang
      in: query
      description: Language of the names and column headers.
      schema: { type: string, enum: [hr, en], default: hr }
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >
        API key issued via `scripts/create-api-key.js` or
        `POST /api-keys/bootstrap`. Required (and must belong to a super
        admin) for all content-management endpoints listed above.

  responses:
    Unauthorized:
      description: Missing or invalid API key
    Forbidden:
      description: Authenticated, but not a super admin

  schemas:
    Service:
      type: object
      required: [tone, roman, num_hr, num_en, title_hr, title_en, title2_hr, title2_en, body_hr, body_en, list_hr, list_en]
      properties:
        id: { type: integer, readOnly: true }
        sort_order: { type: integer, description: 'Manual sort position, ascending. Optional, defaults to 0.' }
        tone: { type: string, enum: [indigo, green] }
        roman: { type: string, example: "I" }
        num_hr: { type: string }
        num_en: { type: string }
        title_hr: { type: string }
        title_en: { type: string }
        title2_hr: { type: string }
        title2_en: { type: string }
        body_hr: { type: string }
        body_en: { type: string }
        list_hr: { type: array, items: { type: string } }
        list_en: { type: array, items: { type: string } }

    PricingPlan:
      type: object
      required: [tag_hr, tag_en, title_hr, title_en, sub_hr, sub_en, list_hr, list_en, when_hr, when_en, featured]
      properties:
        id: { type: integer, readOnly: true }
        sort_order: { type: integer, description: 'Manual sort position, ascending. Optional, defaults to 0.' }
        tag_hr: { type: string }
        tag_en: { type: string }
        title_hr: { type: string }
        title_en: { type: string }
        em_hr: { type: string, description: Substring of title_hr to italicize }
        em_en: { type: string }
        sub_hr: { type: string }
        sub_en: { type: string }
        list_hr: { type: array, items: { type: string } }
        list_en: { type: array, items: { type: string } }
        when_hr: { type: string }
        when_en: { type: string }
        featured: { type: boolean, description: Highlights this plan as the recommended option }

    WorkItem:
      type: object
      description: >
        `featured: true` marks the single detailed case study shown at full
        width; all other items render as minimal placeholder slots
        (media_label + caption only).
      required: [featured, media_label_hr, media_label_en, caption_hr, caption_en]
      properties:
        id: { type: integer, readOnly: true }
        sort_order: { type: integer, description: 'Manual sort position, ascending. Optional, defaults to 0.' }
        featured: { type: boolean }
        slug: { type: string, nullable: true, description: Must be unique if set }
        media_label_hr: { type: string }
        media_label_en: { type: string }
        caption_hr: { type: string }
        caption_en: { type: string }
        status_label_hr: { type: string, nullable: true }
        status_label_en: { type: string, nullable: true }
        title_hr: { type: string, nullable: true }
        title_en: { type: string, nullable: true }
        title_rest_hr: { type: string, nullable: true }
        title_rest_en: { type: string, nullable: true }
        body_hr: { type: string, nullable: true }
        body_en: { type: string, nullable: true }
        chips: { type: array, items: { type: string }, nullable: true }
        client_hr: { type: string, nullable: true }
        client_en: { type: string, nullable: true }
        duration_hr: { type: string, nullable: true }
        duration_en: { type: string, nullable: true }
        users_hr: { type: string, nullable: true }
        users_en: { type: string, nullable: true }
        status_hr: { type: string, nullable: true }
        status_en: { type: string, nullable: true }
        demo_url:
          type: string
          nullable: true
          description: >
            Absolute or site-relative URL of this project's live demo. Each
            demo is a separately designed page built to that project's own
            specification and is NOT part of this frontend — the API is the
            only source for the link. Null hides the demo button entirely.
          example: "https://demo.maleniti.com/iot-pipeline"
        demo_label_hr: { type: string, nullable: true, example: "Pogledaj demo" }
        demo_label_en: { type: string, nullable: true, example: "View the demo" }
        post_slug:
          type: string
          nullable: true
          description: >
            Optional slug of a blog post describing this project's features.
            When set, the work item renders a link to
            blog-post.html?slug={post_slug}. Must match a BlogPost slug.
          example: "sto-je-view-u-iot-sustavu"

    BlogPostSummary:
      type: object
      required: [slug, tag_hr, tag_en, tone, date_hr, date_en, title_hr, title_en, excerpt_hr, excerpt_en, read_hr, read_en]
      properties:
        slug: { type: string, description: Must be unique }
        tag_hr: { type: string }
        tag_en: { type: string }
        tone: { type: string, enum: [indigo, green] }
        date_hr: { type: string }
        date_en: { type: string }
        title_hr: { type: string }
        title_en: { type: string }
        em_hr: { type: string, description: Substring of title_hr to italicize }
        em_en: { type: string }
        excerpt_hr: { type: string }
        excerpt_en: { type: string }
        read_hr: { type: string, example: "5 min čitanja" }
        read_en: { type: string, example: "5 min read" }
        featured:
          type: boolean
          default: false
          description: >
            Marks the lead post shown large at the top of the blog index.
            At most one post should set this; the newest is used otherwise.
        lede_hr: { type: string, nullable: true, description: Standfirst shown on the index lead and post page }
        lede_en: { type: string, nullable: true }

    BlogPost:
      allOf:
        - { $ref: '#/components/schemas/BlogPostSummary' }
        - type: object
          required: [body_hr, body_en]
          properties:
            body_hr:
              type: array
              description: >
                Ordered body blocks. The post page renders each by `type`:
                "p" = paragraph (the first one gets a drop cap),
                "h" = section subheading, "q" = pull quote.
              items: { $ref: '#/components/schemas/BodyBlock' }
            body_en:
              type: array
              items: { $ref: '#/components/schemas/BodyBlock' }

    BodyBlock:
      type: object
      required: [type, text]
      properties:
        type: { type: string, enum: [p, h, q] }
        text: { type: string }

    MalenitiTranslatedText:
      type: object
      description: One text per language (`maleniti.language`); Croatian required.
      additionalProperties: { type: string }
      example: { hr: Internetska prodaja, en: Online sales }
    MalenitiLegalText:
      type: object
      properties:
        title: { type: string }
        body: { type: string, description: HTML }
        changed: { type: boolean, description: This version changed it }
        summary: { type: string }
    MalenitiLanguage:
      type: object
      required: [language_id, name]
      properties:
        language_id: { type: string, example: hr }
        name: { type: string, example: hrvatski }
    MalenitiPointOfSale:
      type: object
      required: [code, type, address]
      properties:
        point_of_sale_id: { type: integer, readOnly: true }
        code: { type: string, example: WEB1, description: oznaka poslovnog prostora }
        type: { $ref: '#/components/schemas/MalenitiTranslatedText' }
        address: { type: string, example: Slakovec 80 }
    MalenitiDevice:
      type: object
      required: [point_of_sale_id, device_number]
      properties:
        device_id: { type: integer, readOnly: true }
        point_of_sale_id: { type: integer }
        point_of_sale_code: { type: string, readOnly: true }
        device_number: { type: integer, example: 1 }
    MalenitiBrand:
      type: object
      required: [code, name]
      properties:
        brand_id: { type: integer, readOnly: true }
        code: { type: string, example: atodo }
        name: { $ref: '#/components/schemas/MalenitiTranslatedText' }
    MalenitiProduct:
      type: object
      required: [brand_id, code, name]
      properties:
        product_id: { type: integer, readOnly: true }
        brand_id: { type: integer }
        brand_code: { type: string, readOnly: true }
        code: { type: string, example: atodo-pro-monthly }
        name: { $ref: '#/components/schemas/MalenitiTranslatedText' }
        featured_ord: { type: integer, nullable: true, description: Its place on the brand's landing page; null = not shown. }
        highlight: { type: boolean, default: false, description: Highlighted on the landing page. }
        billing_interval: { type: string, enum: [month, year], nullable: true, description: A subscription billed every month/year; one per interval per brand. }
        stripe_product_id: { type: string, nullable: true, example: prod_abc123, description: The Stripe Product checkout sells its subscriptions as (test and live mode differ). }
    MalenitiPriceInput:
      type: object
      required: [product_id, price_eur]
      properties:
        product_id: { type: integer }
        price_eur: { type: number, example: 2.0, description: At most two decimals. }
        anchored: { type: boolean, default: false, description: An anchor price (in a later version, a new one - false keeps the current anchor). }
        special_sale: { type: boolean, default: false, description: A price during a special form of sale (posebni oblik prodaje). }
    MalenitiVersionInput:
      type: object
      required: [valid_from, prices]
      properties:
        valid_from: { type: string, format: date-time, description: When these prices take effect. }
        prices: { type: array, minItems: 1, items: { $ref: '#/components/schemas/MalenitiPriceInput' } }
    MalenitiPosPriceList:
      type: object
      required: [point_of_sale_id, price_list_id, valid_from]
      properties:
        pos_price_list_id: { type: integer, readOnly: true }
        point_of_sale_id: { type: integer }
        point_of_sale_code: { type: string, readOnly: true }
        price_list_id: { type: integer }
        valid_from: { type: string, format: date-time }
        until: { type: string, format: date-time, nullable: true, readOnly: true, description: When the point of sale moved on to another list (GET /price-lists only). }
        editable: { type: boolean, readOnly: true }
    MalenitiPriceLists:
      type: object
      properties:
        earliest_valid_from: { type: string, format: date-time }
        price_lists:
          type: array
          items:
            type: object
            properties:
              price_list_id: { type: integer }
              created_at: { type: string, format: date-time }
              used_at: { type: array, items: { $ref: '#/components/schemas/MalenitiPosPriceList' } }
              versions:
                type: array
                description: Newest first.
                items:
                  type: object
                  properties:
                    valid_from: { type: string, format: date-time }
                    base: { type: boolean, description: The list's first version. }
                    editable: { type: boolean }
                    deadline: { type: string, format: date-time, description: 08:00 Europe/Zagreb on the day it takes effect. }
                    prices:
                      type: array
                      items:
                        allOf:
                          - $ref: '#/components/schemas/MalenitiPriceInput'
                          - type: object
                            properties:
                              price_id: { type: integer }
                              product_code: { type: string }
                              changed: { type: boolean, description: Takes effect at this version (else carried over). }
    CurrentPrices:
      type: object
      properties:
        brand: { type: string, example: atodo }
        pointOfSale: { type: string, example: WEB1 }
        products:
          type: array
          items:
            type: object
            properties:
              code: { type: string, example: atodo-pro-monthly }
              name: { type: string }
              price_eur: { type: number, example: 2.2 }
              anchor_eur: { type: number, nullable: true, example: 2.0 }
              special_sale: { type: boolean }
              featured_ord: { type: integer, nullable: true }
              highlight: { type: boolean }
              billing_interval: { type: string, enum: [month, year], nullable: true }
    PriceListVersions:
      type: object
      properties:
        brand: { type: string, example: atodo }
        pointOfSale: { type: string, example: WEB1 }
        priceLists:
          type: array
          description: The price lists the point of sale used during the versions offered, oldest first.
          items:
            type: object
            properties:
              id: { type: integer }
              usedFrom: { type: string, format: date-time, description: When the point of sale switched to it. }
              priceChanges:
                type: array
                description: The versions offered while it was in use — when each began, oldest first.
                items: { type: string, format: date-time }
    ImprintInfo:
      type: object
      description: >
        Fields are plain (untranslated) except where the value is genuinely
        language-dependent (legal form, VAT status, register name), which
        follow the usual `_hr`/`_en` convention.
      required: [legal_name, legal_form_hr, legal_form_en, owner_name, address, oib, registration_number, register_hr, register_en, vat_status_hr, vat_status_en, bank_name, iban, swift, hosting_provider]
      properties:
        legal_name: { type: string, description: Full registered business name }
        legal_form_hr: { type: string, example: "obrt" }
        legal_form_en: { type: string, example: "sole trader" }
        owner_name: { type: string }
        address: { type: string, description: Registered/business address }
        oib: { type: string, description: Croatian personal/business tax number }
        registration_number: { type: string, description: MBS or trade register number }
        register_hr: { type: string, example: "Trgovački sud u Zagrebu" }
        register_en: { type: string, example: "Commercial Court in Zagreb" }
        vat_status_hr: { type: string, example: "nije u sustavu PDV-a" }
        vat_status_en: { type: string, example: "not VAT registered" }
        phone: { type: string, nullable: true }
        bank_name: { type: string }
        iban: { type: string }
        swift: { type: string }
        hosting_provider: { type: string, description: Server provider and/or data centre location }

    ContactSubmission:
      type: object
      required: [name, email, msg]
      properties:
        name: { type: string }
        email: { type: string, format: email }
        kind: { type: string, description: Selected project type, free text }
        msg: { type: string }

    ContactRecord:
      allOf:
        - { $ref: '#/components/schemas/ContactSubmission' }
        - type: object
          properties:
            id: { type: string, format: uuid, readOnly: true }
            completed: { type: boolean }
            received_at: { type: string, format: date-time, readOnly: true }
            source:
              type: string
              enum: [maleniti, atodo]
              readOnly: true
              description: The website's own form, or A-To-Do's support page (POST /atodo/v1/support).
            atodo_account_id: { type: string, format: uuid, nullable: true, readOnly: true, description: The A-To-Do account that sent it, if logged in. }
            atodo_account_email: { type: string, nullable: true, readOnly: true }
            context:
              type: object
              nullable: true
              readOnly: true
              description: What A-To-Do's client reported about itself (appVersion, page, language, userAgent).

    ApiKeyRotated:
      type: object
      properties:
        id: { type: integer, readOnly: true }
        label: { type: string }
        is_super_admin: { type: boolean }
        created_at: { type: string, format: date-time }
        last_used_at: { type: string, format: date-time, nullable: true }
        key:
          type: string
          description: >
            The new plaintext secret. Shown once, here, and never again -
            only its hash is stored. Use it as the Bearer token from now on;
            the previous secret stops working immediately.
