MNAPI_OUTDIR=/public/out
PGHOST=${DB_HOST}
PGPORT=${DB_PORT}
PGDATABASE=${DB_NAME}
PGUSER=${DB_USER}
PGPASSWORD=${DB_PASS}
ATODO_JWT_SECRET=${ATODO_JWT_SECRET}
ATODO_FRONTEND_BASE_URL=${ATODO_FRONTEND_BASE_URL}
ATODO_SMTP_HOST=${ATODO_SMTP_HOST}
ATODO_SMTP_PORT=${ATODO_SMTP_PORT}
ATODO_SMTP_USER=${ATODO_SMTP_USER}
ATODO_SMTP_PASS=${ATODO_SMTP_PASS}
ATODO_MAIL_FROM=${ATODO_MAIL_FROM}
ATODO_OWNER_EMAIL=${ATODO_OWNER_EMAIL}
STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
STRIPE_PRICE_MONTHLY=${STRIPE_PRICE_MONTHLY}
STRIPE_PRICE_ANNUAL=${STRIPE_PRICE_ANNUAL}
FISCAL_CERT_P12_BASE64=${FISCAL_CERT_P12_BASE64}
FISCAL_CERT_PASSWORD=${FISCAL_CERT_PASSWORD}
FISCAL_CIS_URL=${FISCAL_CIS_URL}
FISCAL_CIS_CA_BASE64=${FISCAL_CIS_CA_BASE64}
FISCAL_OIB=${FISCAL_OIB}
FISCAL_PREMISES=${FISCAL_PREMISES}
FISCAL_DEVICE=${FISCAL_DEVICE}
FISCAL_OPERATOR_OIB=${FISCAL_OPERATOR_OIB}
FISCAL_SELLER_NAME=${FISCAL_SELLER_NAME}
FISCAL_SELLER_ADDRESS=${FISCAL_SELLER_ADDRESS}
FISCAL_VAT_NOTE=${FISCAL_VAT_NOTE}
