MNAPI_OUTDIR=/public/out
PGHOST=${DB_HOST}
PGPORT=${DB_PORT}
PGDATABASE=${DB_NAME}
PGUSER=${DB_USER}
PGPASSWORD=${DB_PASS}
ATODO_JWT_SECRET=${ATODO_JWT_SECRET}
ATODO_FRONTEND_BASE_URL=${ATODO_FRONTEND_BASE_URL}
ATODO_SMTP_HOST=${ATODO_SMTP_HOST}
ATODO_SMTP_PORT=${ATODO_SMTP_PORT}
ATODO_SMTP_USER=${ATODO_SMTP_USER}
ATODO_SMTP_PASS=${ATODO_SMTP_PASS}
ATODO_MAIL_FROM=${ATODO_MAIL_FROM}
